body {
  margin:0;
  padding:0;
}

.parentDiv {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
}

.nav {
  text-align: center;
}

ul li{
  display: inline-block;
  padding: 0 5px;
}